<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84988324660-g2eqlkok0bmhpgae6bhgijmagv2j931t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84988324660-g2eqlkok0bmhpgae6bhgijmagv2j931t</string>
	<key>API_KEY</key>
	<string>AIzaSyBDQRoFFUwqBbN0Oo8SOmAdPcBCNwlzXgc</string>
	<key>GCM_SENDER_ID</key>
	<string>84988324660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invictus.carmaintenance</string>
	<key>PROJECT_ID</key>
	<string>car-maintenance-f5abf</string>
	<key>STORAGE_BUCKET</key>
	<string>car-maintenance-f5abf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84988324660:ios:900f0e1365f48349211361</string>
</dict>
</plist>